.hero-container {
  font-family: "Playfair Display", Georgia, serif;
  display: flex;
 
  /* border: 2px solid black; */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  /* margin-bottom: 20px !important; */
  overflow: hidden; /* Обеспечиваем, чтобы содержимое не выходило за границы блока */
  width: 100vw; /* Задайте ширину в соответствие с вашим дизайном */
  height: 110vh; /* Задайте высоту в соответствие с вашим дизайном */
  
}

.hero__title{
  text-align: center; 
  font-weight: 100;
}


.left-section {
  display: grid;
  /* border-radius: 9px; */
  width: 100%;
  background: url('./../../../public/img/fon4.jpg') no-repeat center center; /* Замените на ваше изображение */
  background-size: cover;
  padding: 60px;
 
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
   /* Выровнять контент по верху */
  color: white; /* Текст белого цвета для контраста */
}

.title-hero {
  animation: fadeInUp 0.7s forwards;
  padding-top: 135px;
  font-size: 4em;
  font-weight: bold;
  margin: 0;
}

.description {
  display: grid;
  margin: 0 auto;
  width: 40%;
  color: #D7AC8A;
  font-weight: bold;
  font-size: 2em;
  flex-grow: 0.2; /* Занять доступное пространство */
  
  justify-content: center; /* По умолчанию текст будет выровнен по началу, этот стиль не требуется */
}
.description2{ 
  color: #ffffff;
  font-weight: bold;
  font-size: 2em;
  /* Занять доступное пространство */
 
  justify-content: center; 
  margin: 0 auto;

}
.test-button {
  width: 50%; /* 1/4 ширины блока */
  height: 20%;
  background-color: rgb(215, 171, 137, 0.8);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  font-size: 50px;
}

/* .right-section {
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  background-image: url(./bg-black2.jpeg);
  background-color: #0f0f0f;
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center; 
} */



.form-container { 
  width: 800px !important;
  background-color: rgba(215, 171, 137, 0.8);
  /* padding: 20px; */
  border-radius: 5px;
  max-width: 700px;
  padding: 1.3%; 
  padding-top: 0%; 
  margin: 0%;
  
  /* margin-right: 100px */
}

.form-title {
  text-align: center;
  color: rgb(5, 5, 5);
  font-weight: bold;
}

.form-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  column-gap: 10px;
}

.form-input, .form-textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  transition: opacity 1s;
  width: 48%; /* Учитывая margin между полями */
}

.form-textarea {
  width: 97%;
  height: 100px;
  resize: none;
}

.form-input:focus, .form-textarea:focus {
  opacity: 1; /* Полная активность при фокусе */
}

.form-input:not(:focus), .form-textarea:not(:focus) {
  opacity: 0.5; /* Поля тусклее при неактивности */
}

.submit-button-hero {
  font-weight: bold;
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: darkgrey; /* Изменяем цвет на ховере */
}


@media (max-width: 768px) {
  .left-section  {
    
    display: block;
    height: 100%;
      /* background-image: url('./hero__bg_min.webp'); */
      background-size: cover;
      background-position: center;
      padding: 4px;
      padding-top: 0px;
      margin: 0 auto;
  }
  .title-hero {
   padding-top: 127px ;
    width: 93%;
    font-size: 2.03em;
    font-weight: bold;
    margin: 0 auto;
  }
  
  .description {
    
    width: 90%;
    word-wrap: break-word;  /* Перенос длинных слов */
    overflow-wrap: break-word; /* Аналогично */
    white-space: normal; /* Обычное поведение переноса */
    box-sizing: border-box; /* Учитывать отступы и границы */
    font-weight: bold;
    font-size: 1.6em;
    padding: 3px;
    /* flex-grow: 1; Занять доступное пространство */
    
    justify-content: center; /* По умолчанию текст будет выровнен по началу, этот стиль не требуется */
  }
  .description2{ 
    text-align: center;
    font-weight: 100;
    word-wrap: break-word;  /* Перенос длинных слов */
    overflow-wrap: break-word; /* Аналогично */
    white-space: normal; /* Обычное поведение переноса */
    box-sizing: border-box; /* Учитывать отступы и границы */
    
    font-size: 1.5em;
    /* Занять доступное пространство */
    margin: 10px 0;
    justify-content: start; 
  
  }
  
}


.bitrix{
  text-align: left;
}

.free-bitrix{
  padding: 5%;
  padding-top: 0%;
}


.b24-form-padding-side{
  text-align: left;
}


@media (min-width:641px)  { 
  .left-section  {
    
    display: flex;
    
  }
  .title-hero {
  
  animation: fadeInUp 0.7s forwards;
  padding-top: 100px;
  font-size: 4em;
  font-weight: bold;
  margin: 0;
  padding: 10px
}

.description {
  
  display: grid;
  margin: 0 auto;
  width: 100%;
  color: #D7AC8A;
  font-weight: bold;
  font-size: 2em;
  flex-grow: 0.2; /* Занять доступное пространство */
  
  justify-content: center; /* По умолчанию текст будет выровнен по началу, этот стиль не требуется */
}
.description2{ 
  color: #ffffff;
  font-weight: bold;
  font-size: 2em;
  /* Занять доступное пространство */
 
  justify-content: center; 
  margin: 0 auto;

} }
@media (min-width:961px)  {.title-hero {
  animation: fadeInUp 0.7s forwards;
  padding-top: 135px;
  font-size: 4em;
  font-weight: bold;
  margin: 0;
}

.description {
  display: grid;
  text-align: center;
  margin: 0 auto;
  width: 40%;
  color: #D7AC8A;
  font-weight: bold;
  font-size: 2em;
  flex-grow: 0.2; /* Занять доступное пространство */
  
  justify-content: center; /* По умолчанию текст будет выровнен по началу, этот стиль не требуется */
}
.description2{ 
  color: #ffffff;
  font-weight: bold;
  font-size: 2em;
  /* Занять доступное пространство */
 
  justify-content: center; 
  margin: 0 auto;

} }



@media (min-width:1025px) {.title-hero {
  animation: fadeInUp 0.7s forwards;
  padding-top: 115px;
  font-size: 4em;
  font-weight: bold;
  margin: 0;
}

.description {
  display: grid;
  margin: 0 auto;
  width: 70%;
  color: #D7AC8A;
  font-weight: bold;
  font-size: 2em;
  flex-grow: 0.2; /* Занять доступное пространство */
  
  justify-content: center; /* По умолчанию текст будет выровнен по началу, этот стиль не требуется */
}
.description2{ 
  color: #ffffff;
  font-weight: bold;
  font-size: 2em;
  /* Занять доступное пространство */
 
  justify-content: center; 
  margin: 0 auto;

} }
