.header {
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
    border: 2px solid rgb(215, 171, 137, 0.8);
    justify-content: center;
    width: 90%;
    background-color: rgb(0, 0, 0, 0.9);
    padding: 15px 20px !important;
    border-radius: 8px;
    position: fixed;
    text-align: center;
    align-items: center;
    z-index: 999;
    margin-top: 18px;
    background-position: center;
    font-family: "Playfair Display", Georgia, serif !important;
    transition: 0.3s; 
  }
  .header {
    /* border-radius: 8px;
    margin-top: 20px !important;
    margin: 0 auto;
    width: 80%;
    background: rgba(0, 0, 0, 0.8);
    border: solid 1px #D7AC8A;
    transition: background 0.3s; */
  }
  .header-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 120px;
    width: 95%;
    
    margin: 0 auto;
    
    
  }
  
  .codex{
    color:#D7AC8A;
    text-align: left !important; 
    font-size: 20px;
    
  }

  .company{
    color:#fff;
    
  }
  .logo{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
  }
  .brand{
    display: block;
    
    
  }

  .logo img {
    height: 70px;
    vertical-align: baseline;
  }
  
  .text-block {
    text-align: start;
    justify-content: center;
    display: flex;
    text-align: start;
    flex-direction: column;
  }

  .text-title_4{
      color: #D7AC8A;
      font-size: 30px;
    font-weight: bold;
  }

  .text-subtitle-5 {
    color: white;
    font-size: 18px;
    color: white;
  }

  .navbar ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    column-gap: 15px;
  }
  
 
  .contats {
    display: flex;
    text-align: center !important;
    justify-content: baseline  !important;
    margin: 0 auto;
    column-gap: 10px;
  }
  .navbar a {
    color: #D7AC8A;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    transition: 0.6s;
  }

  .navbar a:hover {
    color: #ffffff;
    transition: 0.6s;
    
  }


  .contact-header {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
    
    
  }

  .number-phone {
    color:#D7AC8A;
    font-size: 19px;
  }
  .number-phone:hover{
    color: #ffffff;
    transition: 1s;
  }
  .contats{
    width: 30px;
    height: 30px;
    margin-right: 10px !important;
    
  }
  .consultation-button {
    font-family: "Playfair Display", Georgia, serif;
    width: 200px;
    height: 55px;
    font-size: 17px;
    
    color: black !important;
    font-weight: 300;
    text-transform: uppercase;
    background-color: #D7AC8A;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    transition: background-color 1s, color 1s; 
  }
  
  .consultation-button:hover {
    background-color: rgb(5, 5, 5); 
    color: #D7AC8A; 
    border: 2px solid #D7AC8A;
  }


.header.transparent {
  background: rgba(0, 0, 0, 0.5);
}

.navbar {
  padding: 1rem;
}

.phone-number {
  margin-right: 15px;
  color: white;
}

.consultation-button {
  margin-left: 10px;
  border: 1px solid #D7AC8A;
  color: #D7AC8A;
}

.offcanvas {
  background: rgba(0, 0, 0, 0.9);
  color: white;
  width: 60% !important;
}

.offcanvas .consultation-button {
  
  margin-top: 15px;
}

.btn-close{
  color:#D7AC8A;
}

@media (max-width: 768px) {
  .logo{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
  }
  .text-block {
    text-align: start;
    justify-content: center;
    display: flex;
    text-align: start;
    flex-direction: column;
  }

  .text-title_4{
      color: #D7AC8A;
      font-size: 20px;
    font-weight: bold;
  }

  .text-subtitle-5 {
    color: white;
    font-size: 14px;
    color: white;
  }

  .logo img {
    height: 55px;
    vertical-align: baseline;
  }
}

.custom-toggler.navbar-toggler {
  border-color: white !important;
  color: white !important;
}
.navbar-toggler {
  border-color: #D7AC8A !important;
  color: #D7AC8A !important;
  background-color: #D7AC8A !important;
}

.container{
  width: none !important;
  column-gap: 20px;
}


@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
      display: flex !important;
      
      align-items: stretch;
      justify-content: center !important;
      column-gap: 20px !important;
       }

      .title {
        
        padding-top: 10px; 
      }
}


@media (max-width: 768px) {
  .header {
    
      position:absolute;
  }
      .title {
        
        padding-top: 90px; 
      }
}


.offcanvas-header{
  font-family: "Playfair Display", Georgia, serif !important;
  display: column;
  gap:30px;
  justify-content:flex-end;
  padding-bottom: 0;
  padding-top: 3px;
  padding-right: 1px;
}

.close-sidebar{
  height: 20%;
  width: 100%;
  display: flex;
  align-items: left;
  justify-content:flex-end;
  text-align: end;
}

.burger__btn_open span:nth-child(3) {
  top: 15px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.burger__btn span:nth-child(3) {
  top: 26px;
}
.burger__btn span {
  display: block;
  position: absolute;
  height: 4px !important;
  width: 100% !important;
  background-color: #D7AC8A;
  color: blue;
  opacity: 1;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.offcanvas-body{
  margin-bottom: 0px;
}


.offcanvas-head{
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 0 25px 25px;
}

.side-item{
  font-size: 23px;
  font-weight: bold;
}

.logo-side{
  background-color:   rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  margin-bottom: 20px;
  font-family: "Playfair Display", Georgia, serif !important;
  align-items: center;

}
.logo-side img{ 
  
  width: 70px;
  height: 70px;
}

.textblock-side{
  display: flex;
  row-gap: 1px;

}             

.sidebar-footer{
  padding-bottom: 22px;
  height: 100%;
  display: flex;
  justify-content: start;
  text-align: flex-end;
  align-items: flex-end;
  column-gap: 15px !important;
}


.navbar-light .navbar-nav .nav-link {
  color:#D7AC8A;
}

.navbar-coll{
  display: flex;
  justify-content: stretch;
  text-align: center;
  column-gap: 12px
}


.social-header{
  display: none;
  flex-direction: column;
  
}

.social-header-item{
  height: 20px;
}


.navbartext{
  display: flex;
}

.navbar-item{
  font-size: 30px;
}

.number-phone-header{
  font-size: 23px !important;
  color:#D7AC8A !important;
}