body a {
  margin: 0;
  font-family: "Playfair Display", Georgia, serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body header {
  margin: 0 auto
}

h2, h3, h4 {
  font-family: "Playfair Display", Georgia, serif;
}
body{
  background-color: rgba(255, 255, 255, 0.9);
  /* background-color: rgb(215, 171, 137, 0.8); */
  width: 100%;
  position: relative;
	margin: 0 auto;
  
  /* font-optical-sizing: auto; */
  /* font-weight: 400; */
  /* font-style: normal;
	font-size: 16px; */
	/* line-height: 1.4; */
  letter-spacing: 0.1px;
    /* color: white; */
	overflow-x: hidden;
	min-height: 100%;
  margin: 0;
}
body::selection {
  color: #fff;
  background: #D7AC8A;} 



  h1, h2, h3, h4, h5, h6, figure {
    color: #D7AC8A;
    font-family: "Playfair Display", Georgia, serif;
    font-weight: 400;
    margin: 0 0 20px 0; }



    *, *::before, *::after {
      box-sizing: border-box;
  }
    